<template>
  <div class="flex bg-grey-light mb-2">
    <div class="container flex mx-auto">
      <nuxt-link
        to="/"
        exact
        class="no-underline text-grey-darkest font-bold uppercase py-2 px-4"
      >
        Open Shelf
      </nuxt-link>
      <div class="flex-grow"></div>
      <nav class="flex">
        <nuxt-link
          to="/login"
          class="no-underline uppercase bg-transparent py-2 px-4 hover:bg-grey-darkest text-grey-darkest font-semibold hover:text-white"
        >
          Login
        </nuxt-link>
        <nuxt-link
          to="/register"
          class="no-underline uppercase bg-transparent hover:bg-grey-darkest text-grey-darkest font-semibold hover:text-white py-2 px-4"
        >
          Sign Up
        </nuxt-link>
      </nav>
    </div>
  </div>
</template>

<style scoped>
nav .nuxt-link-active {
  color: white;
  background-color: #3d4852;
}
</style>
