<template>
  <div>
    <label for="meditated">
      <input
        id="meditated"
        v-model="otherChecked"
        type="checkbox"
        class="absolute"
      />
      <div class="label">
        <input
          v-model="otherValue"
          type="text"
          placeholder="Other"
          :disabled="!otherChecked"
          @input="updateOtherSelection"
        />
      </div>
    </label>
  </div>
</template>

<script>
export default {
  name: 'OtherPicker',
  data() {
    return {
      otherChecked: false,
      otherValue: ''
    }
  },
  methods: {
    updateOtherSelection() {
      this.$emit('input', this.otherValue)
    }
  }
}
</script>

<style scoped>
.label {
  margin-left: 17px;
}
</style>
