<template>
  <div>
    <div class="w-full max-w-xs mx-auto">
      <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="mb-4">
          <label
            class="block text-grey-darkest text-sm font-bold mb-2"
            for="username"
          >
            Username
          </label>
          <input
            id="username"
            v-model="username"
            required
            type="text"
            autocomplete="username"
            autofocus
            class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darkest leading-tight focus:outline-none focus:shadow-outlineGrey"
            placeholder="Username"
          />
        </div>
        <div class="mb-4">
          <label
            class="block text-grey-darkest text-sm font-bold mb-2"
            for="password"
          >
            Password
          </label>
          <input
            id="password"
            v-model="password"
            required
            type="password"
            autocomplete="current-password"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darkest leading-tight focus:outline-none focus:shadow-outlineGrey"
            placeholder="Password"
          />
        </div>
        <div class="flex items-center">
          <button
            class="bg-grey hover:bg-grey-dark text-white uppercase font-bold py-2 px-4 rounded"
          >
            Login
          </button>
          <span class="flex-grow"></span>
          <div
            class="cursor-pointer text-grey-darker uppercase text-xs font-semibold"
          >
            Need help?
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      username: '',
      password: ''
    }
  }
}
</script>
